[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Packages/*

!Packages/manifest.json
![Aa]ssets/**/*.meta
!Packages/packages-lock.json

Assets/Packages/*
Assets/Packages/*.meta
Assets/AllSkyFree/*
Assets/AllSkyFree/*.meta
Assets/EffectExamples/*
Assets/EffectExamples/*.meta

[Aa]ssets/AssetStoreTools*

.vs/
.DS_Store
**/*/.idea/
.gradle/

# Binary
*.exe
*.exe.stackdump
*.a
*.dll
*.dll.meta
*.so
*.log

*.pidb.meta
*.pdb.meta
*.mdb.meta
